<% if(breadcrumbs){%>
<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background: transparent;">
                <% _.each( breadcrumbs,function (crumb,index) { %>
                <%if(index == breadcrumbs.length -1){%>
                <li class="breadcrumb-item"><a href="<%= crumb.url%>"><%= crumb.name%></a></li>
                <%}else{%>
                <li class="breadcrumb-item active" aria-current="page"><%= crumb.name%></li>
                <%}%><%})%>
            </ol>
        </nav>
    </div>
</div>
<%}%>