<%- include ./header.ejs%>
<div class="card mb-3" style="max-width: 940px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="\images\products\medium\70284588_100_0.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <ul>
                    <li>cer</li>
                    <li>cerf</li>
                    <li>asfdafddfa</li>
                    <li>adfdadf</li>
                    <li>sdfsfsdf</li>
                </ul>
                <div class="border ">
                    <div class="row border">
                        <div class="prdbtn col-">
                            <button class="btn btn-info btn-sm">Black</button>
                        </div>
                        <div class="prdbtn  col- ">
                            <button class="btn btn-info btn-sm">White</button>
                        </div>
                        <div class="row">

                        </div>

                    </div>
                    <button class="btn btn-secondary btn-sm dropdown-toggle"></button>
                </div>

                    <div class="row">

                        <div class="prdbtn col-">
                            <button class="btn btn-success btn-block ">Buy</button>
                        </div>
                        <div class="prdbtn col- ">
                            <button class="btn btn-danger btn-block ">Add to wishlist</button>
                        </div>
                        <div class="prdbtn col- border">
                            <span style="padding: 10px;font-size:28px ;">$111</span>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>