<%- include ./header.ejs%>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="\images\products\medium\70284588_100_0.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                <div class="container">
                    <div class="row">
                        <div class="prdbtn col- border">
                            <span>$111</span>
                        </div>
                        <div class="prdbtn col-">
                            <a href="/product/1" class="btn btn-outline-dark btn-block ">View</a>
                        </div>
                        <div class="prdbtn col- ">
                            <button class="btn btn-outline-dark btn-block ">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>