<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>



<div class="row ">

    <div class="prdbtn col-">
        <a class="btn btn-success btn-block ">Buy</a>
    </div>
    <div class="prdbtn col- ">
        <a class="btn btn-danger btn-block ">Add to wishlist</a>
    </div>
    <div class="prdbtn col- border">
        <span id="lol" style="padding: 5px;font-size:20px;">111</span>
    </div>

    <form action="/test/currency" method="post">
        <select class="prdbtn" name="currency" id="currency">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="UAH">UAH</option>
        </select>
        <button type="submit"></button>
    </form>
</div>
   <span> <%=selectedCurr  %></span>



</body>
</html>