
<%- include ../partials/header.ejs%>

<%- include ../partials/messages.ejs%>


<div class="container">
    <form action="/users/forgot" method="post">
        <h5>Forgot password </h5>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" autofocus required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>

</div>